* { 
  box-sizing: border-box; 
  margin: 0;   
  border: 0;
  padding: 0; 
}

:root {
  --purple-light-1: #252424fc;
  --purple-light-2: #EEEAF2;
  --purple-medium-1: #c8838c;
  --purple-medium-2: #eb0a2f;
  --purple-medium-3: #22222247;
  --purple-dark-1: #c72525;
  --purple-dark-2: #ececec;

  --yellow: #EECC75;
  --green: #CAD297;
  --aqua: #B7EAC5;
  --lightBlue: #A2EEE5;
  --darkBlue: #8EA2EA;
  --red: #F09D9D;

  --font-family-titles: 'Dosis', sans-serif;
  --font-family-text: 'Red Hat Display', sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;
}

html {
  background-color: var(--purple-medium-3);
}

body {
  background-color: var(--purple-light-1);
  color: var(--purple-dark-2);
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 16px;
  margin: 4px 0 0 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-size: 24px;
  color: var(--purple-dark-2);
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-title1);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
  color: var(--purple-dark-1);
  font-weight: var(--font-weight-title2);
}

h3 {
  color: var(--purple-dark-2);
  font-weight: var(--font-weight-text2);
  font-size: 16px;
}

input {
  background-color: var(--purple-light-2);
  color: var(--purple-medium-2);
  border: none;
  font-size: 18px;
  padding-left: 16px;
}

input::placeholder {
  color: var(--purple-medium-1);
  font-family: var(--font-family-text);
}

button {
  background-color: var(--purple-dark-1);
  border: none;
  color: var(--purple-light-2);
  font-weight: var(--font-weight-text2);
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  color: #222;
  background-color: #f8f8f8;
}


/* Shared */
.header-container, .trendingPreview-header, .categoriesPreview-container {
  padding: 0px;
  margin: 0%;
  
}

.trendingPreview-container, .categoriesPreview-container, footer {
  margin-top: 48px;
}

.trendingPreview-header, .categoriesPreview-title {
  margin-bottom: 24px;
}

.movie-container {
  cursor: pointer;
}

.movie-img {
  border-radius: 8px;
}


.home-img{
  font-weight: var(--font-weight-text2);
  font-size: 6px;
  margin: 6px;
  cursor: pointer;
  display: inline-block;
  width: 12px;
}
.categoriesPreview-list, .categories-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-wrap: wrap;
}

.categoriesPreviewtv-list, .categories-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex-wrap: wrap;
}
/* Header */
.header-container {
  padding-top: 0px;
      position: relative;
    width: 100%;
}



.header-container--long {
  background-image: url('https://pics.filmaffinity.com/Deadpool-777527803-large.jpg');
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%), url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg);
  background-size: cover !important;
height: 800px;
  position: fixed;
  top: 0;
  width: 100%;
  
 
    

}

.header-container--categoryView {
  background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
} 

.header-title {
  margin-bottom: 16px;
  background-color: rgba(27,26,26,.403);
  box-shadow: 0 4px 8pxrgba(89,74,30,.16);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 100%;
  transform: translate(-30%,-80%);
  width: 70%;
  z-index: 1;
}

.header-arrow {
  font-weight: var(--font-weight-text2);
  position: absolute;
	margin-left: 50px;
	margin-top: 3px;
	font-size: 3rem;
	z-index: 30000;
	cursor: pointer;
  font-family: boxicons!important;

  
}
.header-arrow--white {
  color: var(--purple-medium-2);
}

.head{
  display: flex;
 padding: 10px;
  
  width: 100%;
  
}
.headh2{
  display: flex;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
 
  text-align: center;
  width: 50%;
}
.header-searchForm {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 80%;
  flex-wrap: nowrap;
}

.header-searchForm input {
  height: 48px;
  width: 50%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.header-searchForm button {
  width: 56px;
  height: 48px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.section-slider{
  width: 100%;
}

.principalint{
  overflow-y: hidden;
  overflow-x: auto;
  
    white-space: nowrap;
  
    /* height: 241px; */
    /* padding-left: 24px; */
    padding-bottom: 16px;
    width: 100%;
    height: 30rem;
    margin: 0 auto;
    position: relative;
    border-radius: 1.6rem;
    padding: 0%;
   
   
   
   
   
}
.principalint::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.principalint::-webkit-scrollbar-thumb {
  background: var(--purple-medium-2);
  border-radius: 10px;
  visibility: hidden;
}
.principalint::-webkit-scrollbar-track {
  background: transparent;
}
.section-slider:hover .principalint::-webkit-scrollbar-thumb {
  visibility: visible;
}



.principalint .movie-container1{
    margin-right: 30px;
    display: inline-block;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 20rem;
    border-radius: 4px;
    background-color: rgb(34, 34, 34);
    padding: 15px;
    
   
}



.principalint .movie-container1 .movie-img{
  width: 20rem;
  height: 100%;
 
  z-index: 1;
 
  
  
  
}

/* Next & previous buttons */



/* Trending */
.trendingPreview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trendingPreview-title {
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30%;
}

.trendingPreview-btn {
  border-radius: 8px;
  height: 32px;
  width: 72px;
}

.trendingPreview-movieList {
 
  overflow-y: hidden;
  white-space: nowrap;
  height: 241px;
  padding-left: 24px;
  padding-bottom: 16px;
  scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    white-space: nowrap;
}

.trendingPreview-movieList .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.trendingPreview-movieList::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.trendingPreview-movieList::-webkit-scrollbar-thumb {
  background: var(--purple-medium-2);
  border-radius: 10px;
  visibility: hidden;
}
.trendingPreview-movieList::-webkit-scrollbar-track {
  background: transparent;
}
.trendingPreview-movieList:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.trendingPreview-movieList .movie-container .movie-img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}


/* Categories */
.category-container {
  display: flex;
  margin: 5px;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
 
  

}

.category-containertv {
  display: flex;
  margin: 5px;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
 
  

}

.category-title {
  width: auto;
  min-width: 108px;
  height: 40px;
  background-color: var(--purple-medium-3);
  border-radius: 10px;
  cursor: pointer;
  text-align: center ;
 
}




/* Generic List (search, trending & category) */
.genericList-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 32px 24px;
}

.genericList-container .movie-container {
  display: inline-block;
  width: 47.5%;
}

.genericList-container .movie-img {
  width: 100%;
}


/* Movie Detail */
.movieDetail-container {
  border-top-left-radius: 16px;
  border-top-right-radius: 6px;
  padding: 42px 24px;
  margin-top: 60px;
  z-index: 1;
  position: absolute;
  background-color: transparent;
  
}

.movieDetail-title {
  display: inline-block;
  width: 80%;
  margin: 0 0 16px 0;
  padding: 0;
}

.movieDetail-score {
  display: inline-block;
  text-align: right;
  width: 18%;
  font-weight: var(--font-weight-title2);
}
.movieDetail-score::before {
  content: '★';
  color: var(--yellow);
  padding-right: 4px;
}

.movieDetail-description {
  margin: 0 0 24px 0;
}

.relatedMovies-container {
  margin-top: 24px;
  height: 216px;
}

.relatedMovies-title {
  margin-bottom: 16px;
}

.relatedMoviest-scrollContainer {
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(95vw - 24px);
 
  white-space: nowrap;
}

.relatedMovies-scrollContainer .movie-container {
display: inline-block;
margin-right: 8px;
}

.relatedMovies-scrollContainer::-webkit-scrollbar {
width: 10px;
height: 10px;
}
.relatedMovies-scrollContainer::-webkit-scrollbar-thumb {
background: var(--purple-medium-2);
border-radius: 10px;
visibility: hidden;
}
.relatedMovies-scrollContainer::-webkit-scrollbar-track {
background: transparent;
}
.relatedMovies-scrollContainer:hover::-webkit-scrollbar-thumb {
visibility: visible;
}


.relatedMovies-scrollContainer .movie-img {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}
  



/* Footer */
footer {
  background-color: var(--purple-medium-3);
  color: var(--purple-light-2);
  text-align: center;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Navigation */
.inactive {
  display: none;
}




